html {
  margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
body {
  margin: auto;
  background-color: rgb(224, 247, 248);
  font-family: 'Nova Mono', monospace;
  padding: 2rem;
  font-size: large;
}

div {
  background: rgb(224, 255, 220);
  border: 10px, outset, cyan;
  border-radius: 10%;
  padding: 2rem;
}

footer {
  padding: 100px; 
  text-align: center;      
}
